#content-editar {margin-top: 10px;}
#content-header {text-align: center;}
#content-name {margin-top: 10px;}
#content-lastname {margin-top: 10px;}
#content-date {margin-top: 10px;}
#content-type {margin-top: 10px;}
#content-button {margin-top: 10px; text-align: center;} 