#content-agendar {margin-top: 10px;}
#card-encabezado {text-align: center;}
#content-nombre {margin-top: 10px;}
#content-apellido {margin-top: 10px;}
#content-fecha {margin-top: 10px;}
#content-data {margin-top: 10px;}
#content-button {margin-top: 10px; text-align: center;}
